/* Font Definitions */
@font-face {
    font-family: Rough;
    src: url("../fonts/rough_typewriter.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* Base Styling */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #101010;
    font-family: sans-serif;
}

h2 {
    font-size: 2.5rem;
}

li {
    font-size: 1.5rem;
}

p {
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.page {
    height: 100%;
    padding-top: 1.75rem;
    padding-left: 3rem;
}

.content {
    float: left;
    width: 60%;
    height: 75%;
}

.header {
    font-family: Rough;
    font-size: 5rem;
    color: red;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.actorLink {
    text-decoration: none;
    color: darkred;
}

/* Nav Styling */
.nav {
    padding-top: 1.75rem;
    text-align: center;
}

.nav li {
    display: inline-block;
    color: white;
    font-family: "Rough", sans-serif;
    font-size: 2rem;
}

.nav li a {
    font-family: "Rough", sans-serif;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.nav li a:hover {
    color: red;
}

.nav .active {
    color: darkred;
}

/* Image Styling */
.smallImg {
    display: none;
}
.sideImage {
    float: right;
    height: 100vh;
    width: auto;
    border-left: 5px solid white;
}

.characterIcon {
    width: 90%;
    height: auto;
    border: 3px solid white;
    border-radius: 90%;
}

/* Form Styling */
.form {
    width: 200px;
    height: auto;
    margin: auto;
}

.name {
   font-weight: bold;
   width: 200px;
   margin: 1rem auto;
   height: 35px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: darkred ;
   font-size: 14px;
}

.message {
    font-weight: bold;
    width: 200px;
    margin: 1rem auto;
    height: 80px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: darkred;
    font-size: 14px;
}

.button {
    font-weight: bold;
    width: 100%;
    margin: 1rem auto;
    height: 45px;
    /*padding: 6px 15px;*/
    border-radius: 5px;
    outline: none;
    border: none;
    background: darkred;
    color: white;
    font-size: 14px;
    text-align: center;
    display: block;
}
