/* Font Definitions */
@font-face {
    font-family: Rough;
    src: url("../fonts/rough_typewriter.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* Base Styling */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #101010;
    font-family: sans-serif;
}

.page {
    height: 100%;
    padding-top: 3rem;
    padding-left: 3rem;
}

/* Nav Styling */
.nav {
    padding: 3rem, auto;
}

.nav li {
    display: inline-block;
    color: white;
    font-family: "Rough", sans-serif;
    font-size: 2rem;
}

.nav li a {
    font-family: "Rough", sans-serif;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.nav li a:hover {
    color: red;
}

/* Image Styling */
.sideImage {
    float: right;
    height: 100vh;
    width: auto;
}
